<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-signin" action="/join" method="post">
        <input type="text" name='email' id='email' placeholder="email">
        <input type="text" name='blogid' placeholder="blogid">
        <input type="password" name='upw' placeholder="PW">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value='SignUp'>
    </form>
</body>
</html>